<div class="category">
  <div
    *ngIf="isloading"
    class="loading d-flex align-items-center justify-content-center h-25"
  >
    Loading!
  </div>

  <h1>Categories List</h1>
  <hr />

  <table *ngIf="showItem && categories.length" class="table table-dark mt-3">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories" class="table-primary">
        <th scope="row">{{ category.categoryId }}</th>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>
          <i
            (click)="deleteCategory(category.categoryId)"
            class="fa-solid fa-trash"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>

  <button
    *ngIf="!showItem; else not_found"
    (click)="getAllCategories()"
    class="btn"
  >
    Get All Categories
  </button>

  <ng-template #not_found>
    <div *ngIf="!categories.length" class="not-found">
      No Categories found!!
    </div>
  </ng-template>

  <button
    *ngIf="showItem && categories.length"
    (click)="deleteAllCategories()"
    class="btn"
  >
    Delete All Categories
  </button>
</div>
